@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#f4f0ff, #dacdff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot-popup {
  width: 420px;
  background-color: #fff;
  border-radius: 16px;
}